#root {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.heroSection {
  background-image: url("/src/assets/images/home/hero/evolve-hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



/* animation for GymExperience start */

@layer utilities {
  .animate-fade {
    animation: fadeIn 0.4s ease-in-out forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 1;
      transform: scale(1.02);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

/* animation for GymExperience end */

/* animation for const MembershipBenefits start */
@keyframes grow-bar {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

.animate-grow-bar {
  animation: grow-bar 0.3s ease-in-out forwards;
}

/* animation for const MembershipBenefits end */

