#root {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* animation for GymExperience start */

@layer utilities {
  .animate-fade {
    animation: fadeIn 0.4s ease-in-out forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 1;
      transform: scale(1.02);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

/* animation for GymExperience end */

/* animation for const MembershipBenefits start */
@keyframes grow-bar {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

.animate-grow-bar {
  animation: grow-bar 0.3s ease-in-out forwards;
}

/* animation for const MembershipBenefits end */

.scroll-smooth {
  scroll-behavior: smooth;
}

.benefit-border-animate {
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: #4ab04a;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 2s linear;
  z-index: 1;
}
.benefit-border-animate.active {
  transform: scaleY(1);
}

.benefit-img-fade {
  opacity: 1;
}
.benefit-img-fade.hide {
  opacity: 1;
}

/* WELLNESS HUB start */

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.card {
  will-change: transform, opacity;
}

.card:hover {
  transform: scale(1) !important;
  opacity: 1 !important;
}

/* WELLNESS HUB end */

@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.scale-in {
  animation: scaleIn 0.5s ease-out forwards;
}

@keyframes growLine {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

.vertical-line-animated {
  animation: growLine 4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

.blinking-step-id {
  animation: blink 1s infinite;
}

@keyframes blink-once {
  0%,
  100% {
    opacity: 1;
  }
  10% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.2;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.2;
  }
}

.blinking-step-id-once {
  animation: blink-once 4s linear 1;
}

.embla__container {
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1) !important;
}
