@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Kanit font weights */
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Vazirmatn font weights */
@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn/static/Vazirmatn-Thin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn/static/Vazirmatn-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn/static/Vazirmatn-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn/static/Vazirmatn-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn/static/Vazirmatn-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn/static/Vazirmatn-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn/static/Vazirmatn-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn/static/Vazirmatn-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn/static/Vazirmatn-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* body {
  font-family: "Kanit", "Vazirmatn", sans-serif;
} */

h1 {
  font-family: "Kanit";
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
}

h2 {
  font-family: "Kanit";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
}

h3 {
  font-family: "Kanit";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

h4 {
  font-family: "Kanit";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}

h5 {
  font-family: "Kanit";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.form-label {
  font-family: "Kanit";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #000;
  text-transform: capitalize;
}
.form-placeholder {
  font-family: "Vazirmatn";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #6f6d66;
  background-color: #fff;
  /* text-transform: capitalize; */
}
.input-error {
  font-family: "Vazirmatn";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #ff0000;
}

.description {
  font-family: "Vazirmatn";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.btnPrimary {
  color: #fff;
  text-align: center;
  font-family: "Kanit";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;

  padding: 12px 24px;
  background: #4ab04a;
  border: none;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnPrimary:hover {
  background-color: #3d943d;
}

.btnSecondary {
  display: flex;
  padding: 11px 22px;
  border-radius: 5px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);

  color: #fff;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;

  cursor: pointer;
  transition: background-color 0.3s ease;
}
.embla__slide__content {
  transition: transform 0.4s ease-out !important;
  will-change: transform !important;
}

.btnSecondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 1px solid #fff;
}

@media (max-width: 768px) {
  .btnPrimary {
  font-size: 14px !important;
}

.btnSecondary {
  font-size: 14px !important;
}

  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 32px;
    line-height: 32px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  .description {
    font-size: 14px;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: rgb(255, 255, 255);
  --foreground: rgb(10, 10, 10);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(10, 10, 10);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(10, 10, 10);
  --primary: rgb(23, 23, 23);
  --primary-foreground: rgb(250, 250, 250);
  --secondary: rgb(245, 245, 245);
  --secondary-foreground: rgb(23, 23, 23);
  --muted: rgb(245, 245, 245);
  --muted-foreground: rgb(115, 115, 115);
  --accent: rgb(245, 245, 245);
  --accent-foreground: rgb(23, 23, 23);
  --destructive: rgb(231, 0, 11);
  --border: rgb(229, 229, 229);
  --input: rgb(229, 229, 229);
  --ring: rgb(161, 161, 161);
  --chart-1: rgb(245, 73, 0);
  --chart-2: rgb(0, 150, 137);
  --chart-3: rgb(16, 78, 100);
  --chart-4: rgb(255, 185, 0);
  --chart-5: rgb(254, 154, 0);
  --sidebar: rgb(250, 250, 250);
  --sidebar-foreground: rgb(10, 10, 10);
  --sidebar-primary: rgb(23, 23, 23);
  --sidebar-primary-foreground: rgb(250, 250, 250);
  --sidebar-accent: rgb(245, 245, 245);
  --sidebar-accent-foreground: rgb(23, 23, 23);
  --sidebar-border: rgb(229, 229, 229);
  --sidebar-ring: rgb(161, 161, 161);
}

.dark {
  --background: rgb(10, 10, 10);
  --foreground: rgb(250, 250, 250);
  --card: rgb(23, 23, 23);
  --card-foreground: rgb(250, 250, 250);
  --popover: rgb(23, 23, 23);
  --popover-foreground: rgb(250, 250, 250);
  --primary: rgb(229, 229, 229);
  --primary-foreground: rgb(23, 23, 23);
  --secondary: rgb(38, 38, 38);
  --secondary-foreground: rgb(250, 250, 250);
  --muted: rgb(38, 38, 38);
  --muted-foreground: rgb(161, 161, 161);
  --accent: rgb(38, 38, 38);
  --accent-foreground: rgb(250, 250, 250);
  --destructive: rgb(255, 100, 103);
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: rgb(115, 115, 115);
  --chart-1: rgb(20, 71, 230);
  --chart-2: rgb(0, 188, 125);
  --chart-3: rgb(254, 154, 0);
  --chart-4: rgb(173, 70, 255);
  --chart-5: rgb(255, 32, 86);
  --sidebar: rgb(23, 23, 23);
  --sidebar-foreground: rgb(250, 250, 250);
  --sidebar-primary: rgb(20, 71, 230);
  --sidebar-primary-foreground: rgb(250, 250, 250);
  --sidebar-accent: rgb(38, 38, 38);
  --sidebar-accent-foreground: rgb(250, 250, 250);
  --sidebar-border: rgba(255, 255, 255, 0.001);
  --sidebar-ring: rgb(115, 115, 115);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  --aspect-trainer: 65 / 54; 
}




input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #4ab04a;
  border-radius: 4px;
  position: relative;
}

input[type="checkbox"]:checked {
  background: #4ab04a;
}

input[type="checkbox"]:checked::after {
  content: "✓";
  color: #fff; /* your tick color */
  position: absolute;
  left: 2px;
  top: -4px;
  font-size: 14px;
}

