@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Kanit font weights */
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit/Kanit-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Vazirmatn font weights */
@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn/static/Vazirmatn-Thin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn/static/Vazirmatn-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn/static/Vazirmatn-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn/static/Vazirmatn-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn/static/Vazirmatn-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn/static/Vazirmatn-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn/static/Vazirmatn-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn/static/Vazirmatn-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn/static/Vazirmatn-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* body {
  font-family: "Kanit", "Vazirmatn", sans-serif;
} */

h1 {
  font-family: "Kanit";
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
}

h2 {
  font-family: "Kanit";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
}

h3 {
  font-family: "Kanit";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

h4 {
  font-family: "Kanit";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}

h5 {
  font-family: "Kanit";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.form-label {
  font-family: "Kanit";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #000;
  text-transform: capitalize;
}
.form-placeholder {
  font-family: "Vazirmatn";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #6f6d66;
  background-color: #fff;
  /* text-transform: capitalize; */
}
.input-error {
  font-family: "Vazirmatn";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #ff0000;
}

.description {
  font-family: "Vazirmatn";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.btnPrimary {
  color: #fff;
  text-align: center;
  font-family: "Kanit";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;

  padding: 12px 24px;
  background: #4ab04a;
  border: none;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnPrimary:hover {
  background-color: #3d943d;
}

.btnSecondary {
  display: flex;
  padding: 11px 22px;
  border-radius: 5px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);

  color: #fff;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnSecondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 1px solid #fff;
}

@media (max-width: 768px) {
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 32px;
    line-height: 32px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  .description {
    font-size: 14px;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  --aspect-trainer: 65 / 54; 
}