.heroSection {
  background-image: url("/src/assets/images/home/hero/evolve-hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.personalTrainingHeroSection {
  background-image: url("/src/assets/images/PersonalTraning/hero/evolve-personal-traning-hero.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

/* wellness transition start */
.wellnessHeroSection {
  background-image: url("/src/assets/images/wellness/wellnessHero/wellnessHero.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.YogaAndRecoveryRoomBG {
  background-image: url("/src/assets/images/wellness/YogaAndRecoveryRoom/YogaAndRecoveryRoomBG.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.SteamAndSaunaRoomBG {
  background-image: url("/src/assets/images/wellness/SteamAndSaunaRoom/SteamAndSaunaRoomBG.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.WellnessPricingRoomBG {
  background-image: url("/src/assets/images/wellness/WellnessPricingRoom/WellnessPricingRoom.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

/* wellness transition end */

/* MembershipBenefitsHero start */
.MembershipBenefitsHeroBG {
  background-image: url("@/assets/images/MembershipBenefits/membership_benefits_hero/membership_benefits_BG.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.ReadyToEvolveBG {
  background-image: url("@/assets/images/MembershipBenefits/ReadyToEvolve/ReadyToEvolveBG.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}
/* MembershipBenefitsHero start */

.ContactHeroBG {
  background-image: url("@/assets/images/ContactUs/contact_us_hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}
.AboutUsHero{
  background-image: url("src/assets/images/AboutUs/about_us_hero.webp");
}
/* Join As Trainer */
.Whatyouearn {
  background-image: url("@/assets/images/JoinAsTrainer/WhyChoose/why_choose (3).webp");
  background-image: url("@/assets/images/AboutUs/about_us_hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}
.Youkeepfull {
  background-image: url("@/assets/images/JoinAsTrainer/WhyChoose/why_choose (4).webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.Workonyour {
  background-image: url("@/assets/images/JoinAsTrainer/WhyChoose/why_choose (1).webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.Getrealsupport {
  background-image: url("@/assets/images/JoinAsTrainer/WhyChoose/why_choose (2).webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.BuildYourOwn {
  background-image: url("@/assets/images/JoinAsTrainer/WhyChoose/why_choose (5).webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}


/* Tour Our Fitness */
.TourOurFitness {
  background-image: url("@/assets/images/JoinAsTrainer/TourOurFitness/TourOurFitness_bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
/* Tour Our Fitness */

/* Join As Trainer */


/* corporate membership BG */

.employeePlanBG {
  background-image: url("@/assets/images/corporateMembership/EvolveEmployeePlan/employeePlanBG.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 666px;
}

/* corporate membership BG end */
/* WhattoSubmit */
.ReelsorWorkout {
  background-image: url("@/assets/images/JoinTheMovement/WhattoSubmit/service_1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.ProgressPhotos {
  background-image: url("@/assets/images/JoinTheMovement/WhattoSubmit/service_2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.TrainingStories {
  background-image: url("@/assets/images/JoinTheMovement/WhattoSubmit/service_3.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.GrouporPartner {
  background-image: url("@/assets/images/JoinTheMovement/WhattoSubmit/service_4.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.BehindtheScenes {
  background-image: url("@/assets/images/JoinTheMovement/WhattoSubmit/service_5.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
/* WhattoSubmit */

.SocialMedia {
  background-image: url("@/assets/images/JoinTheMovement/SocialMedia/Instagram Grid.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.Trainherebg {
  background-image: url("@/assets/images/JoinTheMovement/TrainHere/Trainherebg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
