.heroSection {
  background-image: url("/src/assets/images/home/hero/evolve-hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.personalTrainingHeroSection {
  background-image: url("/src/assets/images/PersonalTraning/hero/evolve-personal-traning-hero.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.personalTrainingFreeAssessment {
  background-image: url("@/assets/images/PersonalTraning/FreeAssessment/FreeAssessment.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

/* wellness transition start */
.wellnessHeroSection {
  background-image: url("/src/assets/images/wellness/wellnessHero/wellnessHero.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.YogaAndRecoveryRoomBG {
  background-image: url("/src/assets/images/wellness/YogaAndRecoveryRoom/YogaAndRecoveryRoomBG.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.SteamAndSaunaRoomBG {
  background-image: url("/src/assets/images/wellness/SteamAndSaunaRoom/SteamAndSaunaRoomBG.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.WellnessPricingRoomBG {
  background-image: url("/src/assets/images/wellness/WellnessPricingRoom/WellnessPricingRoom.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

/* wellness transition end */

/* MembershipBenefitsHero start */
.MembershipBenefitsHeroBG {
  background-image: url("@/assets/images/MembershipBenefits/membership_benefits_hero/membership_benefits_BG.webp");
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.MembershipBenefitsFreeAssessment {
  background-image: url("@/assets/images/MembershipBenefits/FreeAssessmentForMembership/free-assessment-BG.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.ReadyToEvolveBG {
  background-image: url("@/assets/images/MembershipBenefits/ReadyToEvolve/ReadyToEvolveBG.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.franchiseLetsBuildBigger {
  background-image: url("@/assets/images/franchise/letsBuildBigger/lets-build-bigger-BG.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.franchiseGotYourBack {
  background-image: url("@/assets/images/franchise/GotYourBack/gotYourBackBG.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.spacesWhyChooseUs {
  background-image: url("@/assets/images/spaces/WhyProfessionalsChooseUs/why_professionals_choose_us.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.ExploreHeroBG {
  background-image: url("@/assets/images/explore/exploreHero/evolve_hero.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

/* MembershipBenefitsHero start */

.ContactHeroBG {
  background-image: url("@/assets/images/ContactUs/contact_us_hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 740px;
}

.AboutUsHero {
  background-image: url("@/assets/images/AboutUs/about_us_hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.LocationsHero {
  background-image: url("@/assets/images/Locations/LocationsHero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.JoinToday {
  background-image: url("@/assets/images/Locations/JoinToday.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  /* height: 700px; */
  aspect-ratio: 16 / 9;
}

.Whatyouearn {
  background-image: url("@/assets/images/JoinAsTrainer/WhyChoose/why_choose (3).webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}
.Youkeepfull {
  background-image: url("@/assets/images/JoinAsTrainer/WhyChoose/why_choose (4).webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.Workonyour {
  background-image: url("@/assets/images/JoinAsTrainer/WhyChoose/why_choose (1).webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.Getrealsupport {
  background-image: url("@/assets/images/JoinAsTrainer/WhyChoose/why_choose (2).webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.BuildYourOwn {
  background-image: url("@/assets/images/JoinAsTrainer/WhyChoose/why_choose (5).webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.TourOurFitness {
  background-image: url("@/assets/images/JoinAsTrainer/TourOurFitness/TourOurFitness_bg.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 666px;
}

.employeePlanBG {
  background-image: url("@/assets/images/corporateMembership/EvolveEmployeePlan/employeePlanBG.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.ReelsorWorkout {
  background-image: url("@/assets/images/JoinTheMovement/WhattoSubmit/service_1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.ProgressPhotos {
  background-image: url("@/assets/images/JoinTheMovement/WhattoSubmit/service_2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.TrainingStories {
  background-image: url("@/assets/images/JoinTheMovement/WhattoSubmit/service_3.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.GrouporPartner {
  background-image: url("@/assets/images/JoinTheMovement/WhattoSubmit/service_4.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.BehindtheScenes {
  background-image: url("@/assets/images/JoinTheMovement/WhattoSubmit/service_5.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.socialMedia {
  background-image: url("@/assets/images/JoinTheMovement/SocialMedia/Instagram_Grid.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.aboutUsReadyToEvolve {
  background-image: url("@/assets/images/JoinTheMovement/TrainHere/Trainherebg.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

@media (max-width: 768px) {
  .personalTrainingHeroSection {
    background-image: url("/src/assets/images/PersonalTraning/hero/evolve-personal-training-mob.webp");
  }
  .personalTrainingFreeAssessment {
    background-image: url("@/assets/images/PersonalTraning/FreeAssessment/FreeAssessmentMob.webp");
  }
  .ContactHeroBG{
    background-image: url("@/assets/images/ContactUs/herosection.webp");
  }
  .AboutUsHero{
    background-image: url("@/assets/images/AboutUs/Abouthero_mob.webp");
  }
}
