.heroSection {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/home/hero/evolve-hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.someThinkNewBg {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/home/someThinkNew/common_new_branch_desktop.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

.edmontonSouthCommon {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/home/someThinkNew/common_new_branch_desktop.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.trainerCallout {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/home/TrainerCallout/trainer_callout.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

.CareerWithEvolveCareer1 {
  background-image: url("/src/assets/images/home/CareerWithEvolve/career_1.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
}
.CareerWithEvolveCareer2 {
  background-image: url("/src/assets/images/home/CareerWithEvolve/career_2.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
}

.personalTrainingHeroSection {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/PersonalTraning/hero/evolve-personal-traning-hero.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}
.switchToEvolve {
  background-image: url("@/assets/images/PersonalTraning/SwitchToEvolve/switchToEvolve.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
}

.personalTrainingFreeAssessment {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/PersonalTraning/FreeAssessment/FreeAssessment.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

/* wellness transition start */
.wellnessHeroSection {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/wellness/wellnessHero/wellnessHero.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.careersHeroSection {
  background-image: url("https://tor1.digitaloceanspaces.com/evolve-strength/assets/images/careers/careersHero/careers_hero.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.YogaAndRecoveryRoomBG {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/wellness/YogaAndRecoveryRoom/YogaAndRecoveryRoomBG.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.SteamAndSaunaRoomBG {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/wellness/SteamAndSaunaRoom/SteamAndSaunaRoomBG.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.WellnessPricingRoomBG {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/wellness/WellnessPricingRoom/WellnessPricingRoom.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.gymHero {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/gym/gym-hero-bg.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.timeToEvolve {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/gym/time-to-evolve.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

.grassIsIndeed {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/gym/truf_that_last_bg.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}
/* wellness transition end */

/* MembershipBenefitsHero start */
.MembershipBenefitsHeroBG {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/MembershipBenefits/membership_benefits_hero/membership_hero_section.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.allLocationsHero {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/Locations/all_locations/all_locations_hero.webp");
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.MembershipBenefitsFreeAssessment {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/MembershipBenefits/FreeAssessmentForMembership/free-assessment-BG.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.ReadyToEvolveBG {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/MembershipBenefits/ReadyToEvolve/ready_to_evolve_find_trainer_desktop.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.franchiseLetsBuildBigger {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/franchise/letsBuildBigger/lets-build-bigger-BG.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.franchiseGotYourBack {
  background-image: url("https://tor1.digitaloceanspaces.com/evolve-strength/assets/images/franchise/GotYourBack/franchise_business_process.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.spacesWhyChooseUs {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/spaces/WhyProfessionalsChooseUs/why_professionals_choose_us.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.ExploreHeroBG {
  background-image: url("@/assets/images/explore/exploreHero/evolve_hero.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.SpacesHeroBG {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/spaces/GrowYourBusinessSection/GrowYourBusinessSectionImage.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 430px;
}

/* MembershipBenefitsHero start */

.ContactHeroBG {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/ContactUs/contact_us_hero.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 740px;
}

.AboutUsHero {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/AboutUs/about_us_hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

/* .LocationsHero {
  background-image: url("@/assets/images/Locations/LocationsHero.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
} */

.JoinToday {
  background-image: url("@/assets/images/Locations/JoinToday.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}
.LoAssesment {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/Locations/assesment/Assesment.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.Whatyouearn {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/JoinAsTrainer/WhyChoose/why_choose%20(3).webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.Youkeepfull {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/JoinAsTrainer/WhyChoose/why_choose%20(4).webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.Workonyour {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/JoinAsTrainer/WhyChoose/why_choose%20(1).webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.Getrealsupport {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/JoinAsTrainer/WhyChoose/why_choose%20(2).webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.BuildYourOwn {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/JoinAsTrainer/WhyChoose/why_choose%20(5).webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.TourOurFitness {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/JoinAsTrainer/TourOurFitness/TourOurFitness_bg.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 666px;
}

.employeePlanBG {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/corporateMembership/EvolveEmployeePlan/employeePlanBG.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.ReelsorWorkout {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/JoinTheMovement/WhattoSubmit/service_1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.ProgressPhotos {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/JoinTheMovement/WhattoSubmit/service_2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.TrainingStories {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/JoinTheMovement/WhattoSubmit/service_3.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.GrouporPartner {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/JoinTheMovement/WhattoSubmit/service_4.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.BehindtheScenes {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/JoinTheMovement/WhattoSubmit/service_5.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

/* .socialmedia{
  background-image: url("@/assets/images/JoinTheMovement/SocialMedia/Mobile.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 352px;
  height:678px
} */

.socialMedia {
  background-image: url("@/assets/images/JoinTheMovement/SocialMedia/Instagram_Grid.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.aboutUsReadyToEvolve {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/JoinTheMovement/TrainHere/Trainherebg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}
.contact_us_map_bg {
  background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/ContactUs/contact_us_map.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  margin-top: 160px;
}

@media (max-width: 768px) {
  .someThinkNewBg {
    background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/home/someThinkNew/common_new_branch_mob.webp");
  }
  .edmontonSouthCommon {
    background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/home/someThinkNew/common_new_branch_mob.webp");
  }

  .gymHero {
    height: 520px;
    background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/gym/gym_hero_mob.webp");
  }
  .grassIsIndeed {
    background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/gym/truf_that_last_mob_bg.webp");
    background-position: left;
  }
  .timeToEvolve {
    background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/gym/time-to-evolve-mob.webp");
  }

  .personalTrainingHeroSection {
    background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/PersonalTraning/hero/evolve-personal-training-mob.webp");
    height: 646px;
  }
  .trainerCallout {
    background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/home/TrainerCallout/trainer_callout_mob.webp");
  }
  .CareerWithEvolveCareer1 {
    background-image: url("/src/assets/images/home/CareerWithEvolve/career_1_mob.webp");
  }
  .CareerWithEvolveCareer2 {
    background-image: url("/src/assets/images/home/CareerWithEvolve/career_2_mob.webp");
  }
  .ExploreHeroBG {
    background-image: url("@/assets/images/explore/exploreHero/evolve_mob_hero.webp");
  }
  .franchiseGotYourBack {
    background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/franchise/GotYourBack/gotYourBackBusinessMob.webp");
  }
  .personalTrainingFreeAssessment {
    background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/PersonalTraning/FreeAssessment/FreeAssessmentMob.webp");
    height: 582px;
  }
  .switchToEvolve {
    background-image: url("@/assets/images/PersonalTraning/SwitchToEvolve/switchToEvolveMob.webp");
  }
  .wellnessHeroSection {
    background-image: url("/src/assets/images/wellness/wellnessHero/wellnessMobHero.webp");
  }
  .WellnessPricingRoomBG {
    background-image: url("/src/assets/images/wellness/WellnessPricingRoom/WellnessPricingRoomMobBG.webp");
  }
  .SteamAndSaunaRoomBG {
    background-image: url("/src/assets/images/wellness/SteamAndSaunaRoom/SteamAndSaunaRoomMobBG.webp");
  }
  .YogaAndRecoveryRoomBG {
    background-image: url("/src/assets/images/wellness/YogaAndRecoveryRoom/YogaAndRecoveryRoomMobBG.webp");
  }
  .MembershipBenefitsHeroBG {
    background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/MembershipBenefits/membership_benefits_hero/membership_benefits_mob_BG.webp");
  }
  .MembershipBenefitsFreeAssessment {
    background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/MembershipBenefits/FreeAssessmentForMembership/free-assessment-mob-BG.webp");
    height: 582px;
  }
  .ReadyToEvolveBG {
    background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/MembershipBenefits/ReadyToEvolve/ready_to_evolve_find_trainer_mob.webp");
  }
  .employeePlanBG {
    background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/corporateMembership/EvolveEmployeePlan/employeePlanMobBG.webp");
    height: 480px;
  }
  .ContactHeroBG {
    background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/ContactUs/contact_us_hero.webp");
    height: 468px;
  }
  .AboutUsHero {
    background-image: url("@/assets/images/AboutUs/Abouthero_mob.webp");
    height: 463px;
  }
  .aboutUsReadyToEvolve {
    background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/JoinTheMovement/TrainHere/Trainherebg.webp");
  }
  /* .LocationsHero {
    background-image: url("@/assets/images/Locations/herosection_mob.webp");
  } */
  .LoAssesment {
    background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/Locations/assesment/LoAssesment.webp");
  }
  .TourOurFitness {
    background-image: url("@/assets/images/JoinAsTrainer/TourOurFitness/TourOurFitnessMob.webp");
    height: 478px;
  }

  .JoinToday {
    background-image: url("@/assets/images/Locations/JoinToday_Mob.webp");
  }
  .franchiseLetsBuildBigger {
    background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/franchise/letsBuildBigger/lets-build-bigger-BG-Mob.webp");
  }

  .socialMedia {
    background-image: url("@/assets/images/JoinTheMovement/SocialMedia/socialMediaMob.webp");
  }

  .SpacesHeroBG {
    background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/spaces/GrowYourBusinessSection/Spaces_mob_hero.webp");
    height: 233px;
  }
  .spacesWhyChooseUs {
    background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/spaces/WhyProfessionalsChooseUs/spacesWhyChooseUs_mob.webp");
  }
  .allLocationsHero {
    background-image: url("https://evolve-strength.tor1.cdn.digitaloceanspaces.com/assets/images/Locations/all_locations/all_locations_heroMob.webp");
    height: 460px;
  }
}

/* Custom Animation for Tailwind */
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 0.9;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.3s ease-out;
}

/* Hide scrollbar for select dropdowns */
select::-webkit-scrollbar {
  display: none;
}

select {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes cardFadeIn {
  from { opacity: 0; transform: scale(.98); }
  to   { opacity: 1; transform: scale(1); }
}

.card-fadeIn {
  animation: cardFadeIn .5s ease-out forwards;
}

/* Range slider thumb with white border (Figma style) */
.range-evolve {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
}

.range-evolve::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 8px;
  background: transparent;
}

.range-evolve::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  background: #4AB04A;
  border: 2px solid #FFFFFF;
  margin-top: -8px; /* centers on 4px track */
  cursor: pointer;
}

.range-evolve::-moz-range-track {
  height: 4px;
  border-radius: 8px;
  background: transparent;
}

.range-evolve::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  background: #4AB04A;
  border: 2px solid #FFFFFF;
  cursor: pointer;
}

.range-evolve::-ms-track {
  height: 4px;
  border-color: transparent;
  color: transparent;
  background: transparent;
}

.range-evolve::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  background: #4AB04A;
  border: 2px solid #FFFFFF;
}

